@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
}

html,
body,
#app,
#storybook-root {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

html,
body {
  margin: 0;
}

body {
  background-color: black;
  color: white;

  font-size: 16px;

  font-family: 'Roboto', sans-serif;
}

#app {
  position: relative;
}

input,
select,
button {
  font-family: 'Roboto', sans-serif;
}

input,
select {
  background: transparent;
  border: 0;
  outline: 0;

  color: white;
}

h1,
h2 {
  font-family: Pacifico, sans-serif;

  font-weight: normal;
  margin-top: 0;

  width: 100%;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

input:-webkit-autofill {
  border-radius: 0.75rem;
  -webkit-box-shadow: 0 0 0 30px black inset !important;
}
